body {
  font-family: "Roboto", sans-serif;
}
#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h2 {
  font-size: 1.2rem;
  margin: 0;
}

.card p {
  font-size: 1rem;
  color: #555;
}

#details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  background: blueviolet;
  width: 2rem;
  height: 2rem;
  color: white;
  border-radius: 50%;
}

.person {
  margin-bottom: 1rem;
  background: darkseagreen;
  color: #f7f7f5;
  padding: 0.25rem 1rem;
  border-radius: 10px;
}

.description {
  font-weight: 600;
}
.pao {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.lugar {
  background: #555555;
  color: #f7f7f5;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
